In [1]:
import pandas as pd
import numpy as np

In [2]:
dict1 = {
    "R&D":[165,101,29],
    "Administration":[137,92,127],
    "Marketing spend":[472,250,201],
    "profit":[192,144,91]
}
df = pd.DataFrame(dict1)

In [3]:
df

   R&D  Administration  Marketing spend  profit
0  165             137              472     192
1  101              92              250     144
2   29             127              201      91

In [4]:
df["mean"] = df["profit"].mean()
df

   R&D  Administration  Marketing spend  profit        mean
0  165             137              472     192  142.333333
1  101              92              250     144  142.333333
2   29             127              201      91  142.333333

In [5]:
df["r11"] = df["profit"] - df["mean"]
df

   R&D  Administration  Marketing spend  profit        mean        r11
0  165             137              472     192  142.333333  49.666667
1  101              92              250     144  142.333333   1.666667
2   29             127              201      91  142.333333 -51.333333